{% extends "base.html" %}
{% block content %}
	<div class = "container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>Overview</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. Cras ornare arcu dui vivamus arcu felis bibendum ut. Dui id ornare arcu odio. Feugiat nisl pretium fusce id velit ut. Dui accumsan sit amet nulla facilisi morbi tempus iaculis urna. Molestie ac feugiat sed lectus vestibulum mattis.</p>
			</div>
		</div><br><hr>
		<div class="row">
			<div class="col-md-12">
				<h2>Factors</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. Cras ornare arcu dui vivamus arcu felis bibendum ut. Dui id ornare arcu odio. Feugiat nisl pretium fusce id velit ut. Dui accumsan sit amet nulla facilisi morbi tempus iaculis urna. Molestie ac feugiat sed lectus vestibulum mattis.</p>
			</div>
		</div>
		<div class="row"> 
			<div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="happinessfactor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Happiness Factor
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="factorlist">
                	<a class="dropdown-item" href="#">GDP</a>
                	<a class="dropdown-item" href="#">Generosity</a>
                	<a class="dropdown-item" href="#">Health Life Expectancy</a>
                	<a class="dropdown-item" href="#">Social Support</a>
                	<a class="dropdown-item" href="#">Freedom Life</a>
                	<a class="dropdown-item" href="#">Perception of Corruption</a>
                </div>
           	</div>
       	</div>
        <div class="row">
        	<div class="col-md-12">
				<div id="plot"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="line"></div>
			</div>
		</div>
		<div class="jumbotron" id="jumbo"> 
					<h1>Happiness</h1>
					<p class="lead">Which country would you be happiest living in? We have crafted a survey that will help determine if where you are living is currently the best place for you to live. </p><hr>
					<p class="lead">Click here to take your happiness survey</p>
					<a class="btn- btn-primary btn-lg" href="{{ url_for('survey') }}" role="button">Take the Survey</a>
				</div>
			</div>
	</div>
<script type="text/javascript" src="static/js/graphs.js"></script>
{% endblock %}